@charset "utf-8";
/* CSS Document */
.style1 {
	width:300px;
	height:200;
	border:0px solid red;
	margin:0px 0px 0px 200px;
	color:black;
	}
.style1 table{

	border:1px solid black;
	width:298px;
	height:180px;
	color:black;
	}	
.style1 table td{
	border:2px solid slive;
	text-align:center;
    color:black;
	}	
.style2{ 
    font-weigth:bold;
    font-size:40px;
    background-color:pink;
	color:#C00;
	}
#style3{
	font-size:36px;
	background-color:silver;
	color:#C0F}
	/*父子选择器*/	
#style3 span{
	font-style:italic;
	color:red;}	
body{
	color:#FF0}	
.style4{
	margin:0px 0px 0px 200px;
	}	
a:link{
	color: red;
	font-size:24px;
	font-family:Georgia, "Times New Roman", Times, serif;
	text-decoration:none;}	
a:hover{
	color: #3F6;
	font-size:40px;
	text-decoration:underline}
a:visited{
	font-size:24px;
	color: gray;
    }
	/*通配符选择器*/
	/*px表示上 右 下 左*/
*{
	margin:10px 0px 0px 10px;
	padding:0px;}	
	/*可以哟多个类选择器，id html选择器  当这些选择器有共同的部分时可以单独拿出来*/
	.style1,.style2,.style3{/*相同部分*/
		}
	
