@charset "utf-8";
/* CSS Document */
a:link{
	color:#CCC;
	text-decoration:none;
	font-family:Georgia, "Times New Roman", Times, serif;}
a:hover{
	font-size:15px;
	color:#FC0;
	text-decoration:underline}
 body{
	 margin:0 auto;
     border:1px solid red;
     width:1002px;
     height:832px;}
.s1{
	 width:1000px;
	 height:620px;
	border:1px dotted}
.s1 table{
	border:1px solid black;
	width:999px;
	height:619px;
	}	
.s1 table td{
	border:1px solid slive;
    color:black;
	}
	
.ace2 table{
	height:30px;}		
.s2{
	width:1002px;
	height:170px;
	border:#333}
.s3{ height:224px;
    width:656px;
    border:2px #0FC;
}
.s4{ 
	color:#7A1A01}

.ace2,.s5{height:30px;
	background:#7A1A01;
	}	
.s6{/*控制上下整体距离*/
	margin-left:25px;
	margin-top:8px;
	padding:5px;
	}
.s61{
	margin-left:380px;
	margin-top:140px;
	padding:7px;}	
.s7{
	margin-left:120px;}
.s8{ margin-top:10px;
     font-size:13px;
	}
.s9{height:201px;}	
.s10{
	margin-top:5px;
	font-size:10px;
	text-align:left;
	color:#333
	}		
.hr1{
	width:980px;
	height:1px;
	color:#D6D4D5;
	}
.hr2{
	border:dashed 1px #CCC;
	width:321px;
	margin-top:0px;

	}	
#text1{
height:30px;
	font-size:14px;
	margin-left:10px;
	}
#text2{
	font-size:11px;
	margin-left:5px;
	color:#CCC;
	padding-top:10px;
	margin-top:50px;
	}
#text3{
	margin-left:380px;
	}	
#text4{
	
	margin-top:7px;}	
#text5{
	margin-left:270px;
	margin-top:5px;}
#text6{
	margin-left:368px;}	
#text7{
	margin-left:400px;}	
#text9{
	color:#7A1A01;}	
#text10{
	color:#333;
	}
#text11{
	color:#333;
	}	
#text12{
	margin-top:20px;
	margin-left:300px;
	font-size:11px;
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#F99442;}	
#text13{
	color:#CCC;
	margin-top:10px;}	
.ace1{
	margin-top:0px;
	margin-left:0px;}		
		
	
			