@charset "utf-8";
/* CSS Document */
.y4:link{
	color:#CCC;
	text-decoration:none;
	font-family:Georgia, "Times New Roman", Times, serif;}
.y4:hover{
	color:#FC0;
	text-decoration:none}
.y:link{
	color:#CCC;
	text-decoration:none;
	font-family:Georgia, "Times New Roman", Times, serif;}
.y:hover{
	font-size:15px;
	color:#FC0;
	text-decoration:underline}
.y1:link{
	color:#333;
	text-decoration:none;
	font-family:"Times New Roman", Times, serif;}
.y1:hover{
	color:#FC0;
	text-decoration:none;}	
.y1:visited{
	text-decoration:underline}
.y2:link{
	color:#CCC;
	text-decoration:none;
	font-family:"Times New Roman", Times, serif;}
.y2:hover{
	background-color:#FFF;
	text-decoration:none;}
.y3:link{
	color:#F99442;
	text-decoration:none;
	}
.y3:hover{
	color:#F99442;
	text-decoration:none;}	
.n:link{
	background-image:url(2.jpg)
	}
.n:hover{
	background-image:url(1.jpg);
	width:1000px;
	height:180px;}					
 body{
	 margin:0 auto;
     border:1px solid red;
     width:1002px;
     height:832px;}
.s1{
	 width:1000px;
	 height:620px;
	border:1px dotted}
.s1 table{
	border:1px solid black;
	width:999px;
	height:619px;
	}	
.s1 table td{
	border:1px solid slive;
    color:black;
	}
	
.ace2 table{
	height:30px;}		
.s2{
	width:1002px;
	height:170px;
	border:#333}
.s3{ height:214px;
    width:651px;
    border:2px #0FC;
}
.s4{ 
	color:#7A1A01}

.ace2,.s5{height:30px;
	background:#7A1A01;
	}	
.s6{/*控制上下整体距离*/
	margin-left:25px;
	margin-top:8px;
	padding:7px;
	}
.s61{
	margin-left:380px;

	padding:7px;}	
.s7{
	margin-left:120px;}
.s8{ margin-top:10px;
     font-size:13px;
	}
.s9{height:201px;}	
.s10{
	margin-top:5px;
	font-size:10px;
	text-align:left;
	color:#333
	}
.s11{
	margin-top:10px;
	font-size:12px;
	margin-left:30px;
	padding-top:15px;}	
.s12{
	margin-top:20px;
	font-size:14px;
	margin-left:100px;
	padding-top:5px;
	color:#CCC}			
.hr1{
	width:980px;
	height:1px;
	color:#D6D4D5;
	}
.hr2{
	border:dashed 1px #CCC;
	width:321px;
	margin-top:0px;

	}	
#text1{
height:30px;
	font-size:14px;
	margin-left:10px;
	}
#text2{
	font-size:11px;
	margin-left:5px;
	color:#CCC;
	padding-top:10px;
	margin-top:50px;
	}
#text3{
	margin-left:380px;
	}	
#text4{
	
	margin-top:7px;}	
#text5{
	margin-left:270px;
	margin-top:5px;}
#text6{
	margin-left:368px;}	
#text7{
	margin-left:400px;}	
#text9{
	color:#7A1A01;}	
#text11{
	color:#666;
	}	
#text12{
	margin-top:20px;
	margin-left:300px;
	font-size:11px;
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#F99442;}	
#text13{
	color:#CCC;
	margin-top:10px;}
#text131{
	color:#666;}	
#text14{
	font-size:15px;
	color:#666;
	font-family:Georgia, "Times New Roman", Times, serif;
	margin-left:3px;
	}
#text15{
	color:#FFF;
	padding:2px;}
#text16{
	color:#900;}	
#text17{
	margin-left:30px;
	padding-top:20px;}
#text18{
	font-size:15px;
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#000}
#text19{
	color:#F99442;
	}
#text20{
	color:#000}	
#text21{
	color:#666;}							
.ace1{
	margin-top:0px;
	margin-left:0px;
	}
.ace3{
	margin-top:0px;
	margin-left:10px;
	padding-top:10px;}	
.ace4{
	padding-top:5px;}			
		
.ace5{
	height:210px;}
.ace6{
	margin-left:60px;
	color:#CCC}	
			