@charset "utf-8";
/* CSS Document */
body{ 
width:950px;
heigth:800px;
margin:0 auto;
font-size:12px;
	}

.top{
 width:950px;
 heigth:22px;
 background-color:pink;	
	
	}	
/*登录部分*/	
.login{
width:416px;
heigth:22px;
background-color:green;	
float:left;
	}
/*设为首页*/	
.indexpage{
width:105px;
height:20px;
background-color:gray;
float:left;
margin-left:80px;
	
	}
/*超链接*/		
.myherf{
width:250px;
height:20px;
float:right;
background-color:#b4b4b4;	}
/*logo*/
.logo{
width:137px;
height:68px;
background-color:#9F0;
float:left;
margin-top:5px;	}

.logo img{
	width:137px;
	height:68px;}

/*导航*/
.navr{
width:807px;
height:68px;
float:left;
margin-left:6px;
margin-top:5px;
background-color:#960;	}

/*广告*/
.ad{
	width:950px;
	height:212px;
	float:left;
	margin-top:5px;
	border:1px solid silver;}
/*学生广告*/
.stuad{
	width:126px;
	height:196px;
	background-color:#F93;
	float:left;
	margin:5px 0 0 4px;}
.stuad_2{
	width:453px;
	height:196px;
	float:left;
	margin:5px 0 0 14px;
	background-color:#0C3;}		
.stuad_3{
	width:150px;
	height:196px;
	background-color:#C30;
	float:left;
	margin:5px 0 0 12px;}	
.stuad_4{
	width:180px;
	height:212px;
	float:left;
	margin:5px 0 0 10px;
	border-left:1px solid silver;}
. stuad_4 img{
	margin-top:10px;}		
