@charset "utf-8";
/* CSS Document */
body{
	margin:0px auto;
	width:1000px;
	height:1000px;
	border:1px solid blue;}
.div1{
	width:300px;
	height:370px;
	/*border:1px solid gray;*/
	}
	
/*定义集中常见字体*/	
.font1{
	font-weight:bold;
	font-size:20px;
	margin:2px 0px 0px 2px;}
.span1{
	/*background-color:pink;*/
	display:block;}
.span1 a{
	float:right;}	
.faceul{
	width:350px;
	height:65px;
	/*background-color:silver;*/
	list-style-type:none;
	padding:0px}
.faceul li{
	float:left;
	width:90px;
	height:78px;
	margin-left:6px;
	/*background:#063;*/
	text-align:center;/*text-align表示图片居中*/}

.faceul img{
	margin-top:2px;
	width:50px;
	height:50px;
	padding-bottom:5px;}			
	
/*定义几种常见超链接*/		
a:link{
	text-decoration:none;
	color:#999;}
a:hover{
	text-decoration:none;
	color:#F00;}
a:visited{
	text-decoration;
	color:black;}		