@charset "utf-8";
/* CSS Document */
body{
	width:1000px;
	height:590px;
	margin:0 auto;
	border:1px solid silver;
	}
.liu{
	padding-top:40px;
	}	
a:link{
	color:#FFF;
	text-decoration:none;
	font-family:微软雅黑;
	}
a:hover{
	color: #CF0;
	text-decoration:none;
	font-family:微软雅黑;}		
.top{
	width:1000px;
	height:80px;
	background-color: #6FF;
	}	
.piscc{
	width:251px;
	height:500px;
	margin-top:5px;
	background-color:pink;
	float:left;
	}
.piscc img{
	width:244px;
	height:500px;
	}	
.biaodan{
	width:742px;
	height:251px;
	margin-top:5px;
	margin-left:5px;
	background-color:silver;
	float:left}	
.xia{
	width:742px;
	height:251px;
	margin-left:5px;
	float:left;}
.ace1{
	font-size:20px;
	margin-left:100px;
	}
.ace2{
	margin-left:10px;}	
#cm1{
	margin-top:10px;}	
#cm2{
	width:450px;
	height:200px;
	float:left;
	margin-left:10px;
	margin-top:30px;}
#cm3{
	margin-top:200px;
	float:left;
	}
#cm4{margin-top:200px;
margin-left:10px;
	float:left;}
.piscc3{
	width:180px;
	height:250px;
	margin-left:5px;
	float:left;
	}						